---
import { getCollection } from "astro:content";
const allPosts = await getCollection("blog");
---

<section id="blog">
  <div class="wrapper">
    <h2 class="pill">Blog</h2>
    <p>Maybe I very occassionally share some stuff here?</p>
  </div>

  <ul class="grid">
    {
      allPosts.map((post) => (
        <li transition:name={`post-${post.id}`}>
          <a href={`/blog/${post.id}`}>
            <h3 transition:name={`title-${post.id}`}>{post.data.title}</h3>
            <p>{post.data.description}</p>
          </a>
        </li>
      ))
    }
  </ul>

  <a href="/blog">More</a>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    max-width: 65rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    background-color: var(--primary-light);
    border-radius: 10px;
  }

  ul.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  li {
    background-color: var(--white);
    width: 100%;
    min-height: 15rem;
    height: 100%;
    max-height: 20rem;
    border-radius: 12px;
    box-shadow:
      0px 5px 8px 0px rgba(0, 0, 0, 0.03),
      0px 7px 6px 0px rgba(0, 0, 0, 0.02),
      0px 8px 8px 0px rgba(0, 0, 0, 0.03),
      0px -3px 4px 0px rgba(0, 0, 0, 0.03);
    list-style: "";
  }

  li a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 2rem;
    text-decoration: none;
  }

  h3 {
    font-family: var(--body-font);
    font-size: 1.35rem;
  }

  p {
    font-size: 0.9rem;
    max-width: 40ch;
  }

  @media (width >= 48rem) {
    ul.grid {
      flex-direction: row;
      justify-content: start;
      padding: 1rem;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      max-width: 90%;
      justify-self: center;
      align-self: center;
      scroll-marker-group: after;

      > li::scroll-marker {
        content: "O";
        transition: 0.25s ease-in-out;
      }

      > li::scroll-marker:target-current {
        background: var(--primary);
      }

      &::scroll-button(left) {
        content: url(/public/assets/svg/arrow-left.svg) / "Scroll Left";
        width: 3rem;
        height: 3rem;
      }

      &::scroll-button(right) {
        content: url(/public/assets/svg/arrow-right.svg) / "Scroll Right";
        width: 3rem;
        height: 3rem;
      }

      &::scroll-button(*):focus-visible {
        outline-offset: 5px;
      }
    }

    li {
      min-width: 23rem;
      max-width: 80%;
      scroll-snap-align: center;
      flex-shrink: 0;
    }
  }
</style>
